.login {
    position: absolute;
    right: 270px;
    top: 36%;
}

.sign-button {
    width: 13%;
    height: 50px;
    font-size: 18px;
    border-radius: 24px;
    margin-top: 15px;
    float: right;
}

.right-aligned {
    width: 100%;
    margin-bottom: 30px;
    float: right;
}

.image {
    margin-top: 150px;
    width: 54%;
}

.text {
    position: absolute;
    right: 60px;
    top: 20%;
    left: 69%;
}
