<div class="right-aligned">
    <button mat-stroked-button class="sign-button" (click)="login()">Dashboard</button>
</div>


<div class="row">
    <div class="column image" >
            <img src="../../assets/web3.webp" alt="">
        <div class="column">
            <div class="text">
                <h3 class="base-margin-left">Benefits of Web 3.0</h3>
                <ul>
                    <li class="base-margin-bottom">Societies can become more efficient by disintermediating industries, reducing rent-seeking third parties and returning this value directly back to the users and suppliers in a network.</li>
                    <li class="base-margin-bottom">Organisations can be intrinsically more resilient to change through their new mesh of more adaptable peer-to-peer communication and governance ties between participants.</li>
                    <li class="base-margin-bottom">Humans, enterprises and machines can share more data with more privacy & security assurances</li>
                    <li class="base-margin-bottom">We can future-proof entrepreneurial & investment activities by virtually eradicating the platform dependency risks we observe today</li>
                    <li class="base-margin-bottom">We can own our own data & digital footprints by using provable digital scarcity of data & tokenised digital assets</li>
                    <li class="base-margin-bottom">Through ‘modern mutual’ ownership and governance of these new decentralised systems of intelligence and sophisticated & dynamic economic incentives, network participants can collaborate to solve previously intractable or ‘thinly spread’ problems</li>
                </ul>
                
            </div>
            
        </div>
    </div>

</div>