.choose-blockchain-font {
    font-size: 46px;
    font-family: inherit;
    font-weight: 700;
    vertical-align: inherit;
    font-family: "Circular Std", Helvetica, Arial, sans-serif;
}

.block1 {
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
}

.block2 {
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-shrink: 0;
    flex-direction: column;
    flex-basis: auto;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: absolute;
    left: 30%;
    top: 17%;
}

.lfMnRo {
    min-height: 400px;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 50px 50px 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 24px;
    text-align: left;
}


.description {
    font-size: 22px;
    font-family: inherit;
    font-weight: inherit;
    vertical-align: inherit;
    color: rgb(110, 110, 110);
}

.jwNCln {
    border: 1px solid rgba(4, 4, 5, 0.1);
    border-radius: 16px;
    transition: all 0.12s ease-in-out 0s;
    user-select: none;
    cursor: default;
}

.dKkoen {
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: normal;
}

.kMXwoE {
    vertical-align: inherit;
    color: inherit;
    padding: 0px;
    overflow: visible;
    width: 380px;
    border: 1px solid rgba(12, 12, 12, 0.2);
}


.ebRXgR {
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-shrink: 0;
    flex-direction: column;
    flex-basis: auto;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.hdxTkl {
    margin-top: 32px;
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-shrink: 0;
    flex-direction: column;
    flex-basis: auto;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.gmDstC {
    margin-right: 16px;
}

.eZiCcY {
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
}

.iuoVZP {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.jdplLp {
    font-size: 24px;
    text-align: center;
}


.cUywCO {
    font-family: inherit;
    font-weight: 700;
    vertical-align: inherit;
}

.iUPGVm {
    align-self: stretch;
    margin-top: 24px;
}

.hhoFnK {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.hEnArb {
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.ieSfBq {
    vertical-align: inherit;
}

.gmDstC {
    margin-bottom: 42px;
    margin-right: 0px;
}

.gmDstC {
    margin-right: 16px;
}

.create {
    width: 35%;
    height: 50px;
    font-size: 18px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.besu {
    position: absolute;
    left: 460px;
    top: 158px;
}
