<div class="block1 block2">
    <div class="choose-blockchain-font dbl-margin-bottom">Choose Blockchain</div>

    <span class="description dbl-margin-bottom">Choose the most suitable blockchain for your NFT creation</span>

    <div class="sc-bdvvtL sc-crHmcD sc-egiyK sc-fZzbTk ebRXgR eZiCcY">
        <button type="button" class="sc-bdvvtL sc-hKwDye sc-eCImPb sc-ekrjqK sc-lcdCCa kMXwoE dKkoen jwNCln lfMnRo">
            <div class="ebRXgR eZiCcY gFqfNq">
                <div class="sc-bdvvtL sc-crHmcD sc-egiyK sc-eBhrFy ebRXgR eZiCcY gmDstC">
                    <img src="../../../assets/Etherum.svg" alt=""
                        class="sc-bdvvtL sc-bkkeKt sc-ieecCq ieSfBq hEnArb sc-jTycuM hhoFnK" loading="lazy">
                </div>
                <div class="sc-bdvvtL sc-crHmcD sc-egiyK iuoVZP eZiCcY">
                    <span class="sc-bdvvtL sc-gsDKAQ sc-dkPtRN sc-hFLmAl cUywCO jdplLp">Ethereum</span>
                </div>
            </div>
            <div class="sc-bdvvtL sc-crHmcD sc-egiyK sc-hDzdEj ebRXgR eZiCcY iUPGVm">
                <button  mat-stroked-button class="create" (click)="create('etherum')" >Create</button>
            </div>
        </button>
    </div>

    <div class="sc-bdvvtL sc-crHmcD sc-egiyK sc-fZzbTk ebRXgR eZiCcY besu">
        <button type="button" class="sc-bdvvtL sc-hKwDye sc-eCImPb sc-ekrjqK sc-lcdCCa kMXwoE dKkoen jwNCln lfMnRo">
            <div class="ebRXgR eZiCcY gFqfNq">
                <div class="sc-bdvvtL sc-crHmcD sc-egiyK sc-eBhrFy ebRXgR eZiCcY gmDstC">
                    <img src="../../../assets/Etherum.svg" alt=""
                        class="sc-bdvvtL sc-bkkeKt sc-ieecCq ieSfBq hEnArb sc-jTycuM hhoFnK" loading="lazy">
                </div>
                <div class="sc-bdvvtL sc-crHmcD sc-egiyK iuoVZP eZiCcY">
                    <span class="sc-bdvvtL sc-gsDKAQ sc-dkPtRN sc-hFLmAl cUywCO jdplLp">Hyperledger Besu</span>
                </div>
            </div>
            <div class="sc-bdvvtL sc-crHmcD sc-egiyK sc-hDzdEj ebRXgR eZiCcY iUPGVm">
                <button  mat-stroked-button class="create" (click)="create('besu')" >Create</button>
            </div>
        </button>
    </div>
</div>